/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 3.5rem;
}

nav .svg-inline--fa {
    margin-right: .4rem;
}

.navbar .navbar-brand img {
    max-width: 24px;
    display: inline;
}

#jumbo {
    background: #bbdefb url("./assets/image/jumbo_bg.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
}

li.media {
    margin-bottom: 10px;
}

li.media .tags span {
    margin-right: .3rem;
}

.go-back {
    color: #aaa !important;
    cursor: pointer;
}

#about .btn {
    margin-bottom: 30px;
}